.menu {
  position: fixed;
  top: -100%;
  width: 100%;
  height: calc(100% - 75px); /* Adjusted to fit the screen height */
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--font-primary);
  transition: all 0.4s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(70px);
}

.menu-heading {
  font-size: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-weight: 900;
}

.menu.open {
  top: 75px; /* Adjusted to be below the navbar */
  right: 0;
  overflow-y: hidden;
}

.menu-close-button {
  background-color: transparent;
  color: var(--accent1);
  border: 1px solid var(--accent1);
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.menu-item {
  padding: 10px 20px;
  text-align: center;
}

.menu-item a {
  color: var(--font-secondary);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.menu-item a:hover {
  color: var(--accent1);
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-section-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--font-primary);
  border-bottom: 1px solid;
  border-image: linear-gradient(
      to right,
      transparent 10%,
      var(--font-secondary) 50%,
      transparent 90%
    )
    1;
}

.menu-section-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bg-blurcircle {
  display: none;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: none;
}

.menu.open .bg-blurcircle {
  border-radius: 100%;
  display: block;
  position: fixed;
  transition: all 5s ease-in-out;
  background: linear-gradient(to top, var(--accent1), transparent);
  animation: blurFadeIn 20s infinite alternate ease-in-out;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -100%;
  filter: blur(400px);
}

@keyframes blurFadeIn {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: -130%;
  }
  100% {
    bottom: -100%;
  }
}
